<div class="card m-2" style="min-height:7rem;">
    <div class="row no-gutters">
        <div class="col-auto d-flex flex-column justify-content-center">
            <img src="{{cmmt.author.get_avatar()}}" alt="" class="card-img m-1" style="height:6rem;width:6rem;" />
            <div class="row">
                <a class="card-link m-auto" href="{{url_for('user',nickname=cmmt.author.nickname)}}">{{cmmt.author.nickname}}</a>
            </div>
        </div>
        <div class="col d-flex flex-column">
            <div class="card-body py-1 d-flex flex-column" style="min-height:9rem;">
                <p class="card-title mb-1 text-primary" href="#">{{cmmt.floor}} 楼</p>
                <p class="card-text text-break mb-0" style="font-size:100%;">{{cmmt.body}}</p>
                <div class="d-flex flex-row mt-auto justify-content-between">
                    <!--like link-->
                    <div class="like_link" data-id="{{cmmt.id}}" data-like="like" data-type="note_cmmt">
                        <span>{{cmmt.like_num}}</span>
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                    <!--cmmt toggler-->
                    <div>
                        <span class="">{{cmmt.under_cmmts.count()}}</span>
                        <a href="#collapse{{cmmt.id}}" class="cmmt" id="{{cmmt.id}}" data-nickname="{{cmmt.author.nickname}}"  data-toggle="collapse">
                            <i class="far fa-comment-dots"></i>
                        </a>
                    </div>
                    <div class="card-text text-muted text-right"><small><span class="d-none d-md-inline"></span>{{momentjs(cmmt.upload_time).calendar()}}</small></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="collapse" id="collapse{{cmmt.id}}">
    <div class="row">
        <div class="col-11 offset-1">
            {% for sub_cmmt in cmmt.under_cmmts.order_by("upload_time") %}
            {% include "sub_templates/note_sub_cmmt.html"%}
            {% endfor %}
        </div>
    </div>
</div>