<li class="list-group-item pl-2 pr-1">
    <div class="row no-gutters">
        <div class="col-3">
            <img src="/static/img/source/mouse_square.png" class="rounded-circle img-fluid" />
        </div>
        <div class="col-9">
            <div class="d-flex flex-column ml-2">
                <p class="text-primary m-0">kafenut</p>
                <p class="text-truncate m-0">something.dsafiladfdaifadhflihdaifhdshgjklsdhgjksdfhghsdlkjfghkljsdgklsdhgklsdjgklsdjlkgsdgsdgsdfgsdf</p>
                <small class="text-muted text-right m-0">9012</small>
            </div>
        </div>
    </div>
</li>