<!--extends base layout-->
{% extends "base.html" %}
{% block content %}

<div class="card m-0" style="min-height:12rem;">
    <div class="row no-gutters">
        <div class="col-auto d-flex flex-column justify-content-center">
            <img src="{{blog.author.get_avatar(110)}}" alt="" class="card-img m-1" style="height:8rem;width:auto;" />
            <div class="row">
                <a class="card-link m-auto" href="{{url_for('user',nickname=blog.author.nickname)}}">{{blog.author.nickname}}</a>
            </div>
        </div>
        <div class="col">
            <div class="card-body py-1 d-flex flex-column">
                <a class="card-title h5 mb-1" href="#">{{blog.title}}</a>
                <pre class="card-text text-break mb-0" style="font-size:100%;">{{blog.body}}</pre>
                <div class="d-flex flex-row mt-auto justify-content-between">
                    <div class="like_link" data-id="{{blog.id}}" data-like="like" data-type="blog">
                        <span>{{blog.like_num}} </span>
                        <a href="#">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                    <div>
                        <span class="">{{blog.cmmts.count()+blog.sub_cmmts.count()}} </span>
                        <a href="#" class="blog">
                            <i class="far fa-comment-dots"></i>
                        </a>
                    </div>
                    <div class="card-text text-muted text-right"><small><span class="d-none d-md-inline">Uploaded on: </span>{{momentjs(blog.upload_time).calendar()}}</small></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-11 offset-1">
        {% for cmmt in blog.cmmts.order_by("upload_time") %}
        {% with num=loop.index %}
        {% include "sub_templates/cmmt.html" %}
        {% endwith %}
        {% endfor %}
    </div>
</div>

<!--reply form-->
<form method="post" id="reply_form" class="mt-4">
    <input type="hidden" name="under_cmmt_id" id="under_cmmt_id" />
    <input type="hidden" name="to_blog_id" id="to_blog_id" value="blog.id" />
    <input type="hidden" name="to_cmmt_id" id="to_cmmt_id" />
    <div class="form-group">
        <label for="body" id="to_who"></label>
        <textarea rows="10" class="form-control" id="body" name="body" placeholder="write something..."></textarea>
        <div class="invalid-feedback">
            500 character at most!
        </div>
    </div>
    <div class="d-flex flex-row">
        <small class="text-muted" id="body_len"></small>
        {% if g.user.is_authenticated %}
        <button class="btn btn-outline-primary ml-auto" type="submit">Upload!</button>
        {% else %}
        <button class="btn btn-outline-primary ml-auto" type="submit" disabled>You need to login first!</button>
        {% endif %}
    </div>
</form>

<script>
    $(function () {
        'use strict'

        $('#title').text('Blog');

        //display the length of body
        $('#body').keydown(function () {
            $('#body_len').text('length: ' + $(this).val().length);
        });

        $('#comment_form').submit(function (event) {
            var body = $('#body');
            var val = body.val();
            if (!val || val.length > 200) {
                body.addClass('is-invalid');
                return false;
            }
            return true;
        });

        //switch reply object
        $('.blog').click(function (event) {
            event.preventDefault()
            $('#under_cmmt_id').val('');
            $('#to_who').text('');
            $('#to_cmmt_id').val('');
        });

        $('.cmmt').click(function (event) {        
            event.preventDefault();
            $('#under_cmmt_id').val(this.id);
            $('#to_who').text('Reply to: ' + $(this).data('nickname'));
            $('#to_cmmt_id').val('');
        });

        $('.sub_cmmt').click(function (event) {
            event.preventDefault();
            $('#under_cmmt_id').val($(this).data('under'));
            $('#to_who').text('Reply to: ' + $(this).data('nickname'));
            $('#to_cmmt_id').val(this.id);
        });
    });
</script>
<script src="/static/js/like.js"></script>
{% endblock %}
